<form #employeeForm="ngForm" (ngSubmit)="saveEmployee(employee)">
  <div class="panel panel-primary">
    <div class="panel-heading">
      <h3 class="panel-title">Create Employee</h3>
    </div>
    <div class="panel-body">

      <div class="form-group" [class.has-error]="name.touched && name.invalid" [class.has-success]="name.valid">
        <label for="name" class="control-label">Name</label>
        <input id="name" required name="name" [(ngModel)]="employee.name" type="text" class="form-control"
          #name="ngModel">
        <span class="help-block" *ngIf="name.touched && name.invalid">
          Full Name is required.
        </span>
      </div>

      <div class="form-group" [class.has-error]="email.invalid">
        <label for="email" class="control-label">Email</label>
        <input id="email" [required]="contactPreference.value==='email'"
          pattern="^[a-zA-Z0-9_.+-]+@[a-zA-Z0-9-]+\.[a-zA-Z0-9-.]+$" name="email" #email="ngModel"
          [(ngModel)]="employee.email" type="text" class="form-control">
        <span class="help-block" *ngIf="email.errors?.required">
          Email is required.
        </span>
        <span class="help-block" *ngIf="email.errors?.pattern">
          Email is invalid.
        </span>
      </div>

      <div class="form-group" [class.has-error]="phoneNumber.invalid">
        <label class="control-label" for="phoneNumber">Phone Number</label>
        <input id="phoneNumber" [required]="contactPreference.value==='phone'" #phoneNumber="ngModel" name="phoneNumber"
          [(ngModel)]="employee.phoneNumber" type="text" class="form-control">
        <span class="help-block" *ngIf="phoneNumber.errors?.required">
          Phone Number is required.
        </span>
      </div>

      <div class="form-group" [class.has-error]="contactPreference.touched && contactPreference.invalid">
        <label class="control-label">Contact Preference</label>
        <div class="form-control">
          <label class="radio-inline">
            <input type="radio" required #contactPreference="ngModel" value="email" name="contactPreference"
              [(ngModel)]="employee.contactPreference">Email
          </label>
          <label class="radio-inline">
            <input type="radio" required #contactPreference="ngModel" value="phone" name="contactPreference"
              [(ngModel)]="employee.contactPreference">Phone
          </label>
        </div>
        <span class="help-block" *ngIf="contactPreference.touched && contactPreference.invalid">
          Contact Preference is required.
        </span>
      </div>

      <div class="form-group" [class.has-error]="gender.touched && gender.invalid">
        <label class="control-label">Gender</label>
        <div class="form-control">
          <label class="radio-inline">
            <input type="radio" required #gender="ngModel" value="male" name="gender" [(ngModel)]="employee.gender">Male
          </label>
          <label class="radio-inline">
            <input type="radio" required #gender="ngModel" value="female" name="gender"
              [(ngModel)]="employee.gender">Female
          </label>
        </div>
        <span class="help-block" *ngIf="gender.touched && gender.invalid">
          Gender is required.
        </span>
      </div>

      <div class="form-group">
        <div class="form-control">
          <label class="checkbox-inline control-label">
            <input type="checkbox" #isActive="ngModel" name="isActive" [(ngModel)]="employee.isActive">Is Active
          </label>
        </div>
      </div>

      <div class="form-group" [class.has-error]="department.touched && department.invalid">
        <label for="department" class="control-label">Department</label>
        <select name="department" id="department" appSelectValidator="select" #department="ngModel"
          [(ngModel)]="employee.department" class="form-control">
          <option ngValue="select">Select Department</option>
          <option *ngFor="let department of departments" [value]="department.id">
            {{department.name}}
          </option>
        </select>
        <span class="help-block" *ngIf="department.touched && department.errors?.defaultSelected">
          Department is required.
        </span>
      </div>

      <div class="row">
        <div class="form-group col-md-6">
          <label for="dateOfBirth">Date of Birth</label>
          <input id="dateOfBirth" name="dateOfBirth" [(ngModel)]="employee.dateOfBirth" type="text" bsDatepicker
            placement="right" [bsConfig]="datePickerConfig" class="form-control">
        </div>
      </div>

      <div class="form-group">
        <label for="photoPath">Photo Path</label>
        <input id="photoPath" name="photoPath" [(ngModel)]="employee.photoPath" (click)="hidePreview()" type="file"
          class="form-control">
      </div>

      <div class="form-group">
        <button type="button" class="btn btn-primary" (click)="togglePhotoPreview()">
          {{previewPhoto ? "Hide" : "Show" }} Preview
        </button>
      </div>

      <div class="form-group">
        <img [src]="photoPath" width="200" alt="" *ngIf="previewPhoto">
      </div>

    </div>
    <div class="panel-footer">
      <button type="submit" class="btn btn-primary" [disabled]="employeeForm.invalid">Save</button>
    </div>
  </div>
</form>

Angular Generated Form Model:
<pre>{{employeeForm.value | json}}</pre>
<br>
<br>
Our Employee Model:
<pre>{{employee | json}}</pre>